body {
	width: 800px;
	margin: 0 auto;
	padding: 10px;
	background-color: #37c;
}

div {
	border-radius: 15px;
	background-color: white;
	padding : 10px;
	margin: 0 auto;
	text-align: center;
}

.warning {
	background-color: red; 
	color: white; 
	width: 280px;
}

input {
	padding-left: 35%;
}